<div class="showcase" id="showcase">
    <h2>Showcase</h2>
    
    <div class="cards">
        <app-card
        [id]="1"
        [imageCard]="'../../../../assets/images/card-image1.png'"
        />
        <app-card
        [id]="2"
        [imageCard]="'../../../../assets/images/card-image2.png'"
        />
        <app-card
        [id]="3"
        [imageCard]="'../../../../assets/images/card-image3.png'"
        />
        <app-card
        [id]="4"
        [imageCard]="'../../../../assets/images/card-image4.png'"
        />
        <app-card
        [id]="5"
        [imageCard]="'../../../../assets/images/card-image5.png'"
        />
        <app-card
        [id]="6"
        [imageCard]="'../../../../assets/images/card-image6.png'"
        />

    </div>
    
</div>
