:root{
    --White:white;
    --Black:black;
    --Bg-color:#3B3B3B;
    --Bg-card:#313131;
    --transparentBlack:rgba(2, 2, 2, 0.464);
    /*sizings*/
    --xs-sizing:8px;
    --s-sizing:16px;
    --m-sizing:24px;
    --l-sizing:32px;
    --xl-sizing:64px;
    --xxl-sizing:120px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

body{
    font-family: 'Lexend Exa';

    &::-webkit-scrollbar{
        width: 10px;
        background-color: var(--Bg-color);
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--Bg-card);
        border-radius: var(--s-sizing);
    }
}

h1{
    font-family: 'Megrim';
    font-size: 232px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--White);
}
h2{
    color: var(--White);
    font-size: 5vw;
    font-weight: 100;
}

a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: var(--s-sizing);
}
p{
    color: var(--White);

}