@media (max-width:425px) {
    header{
        bottom: 5%;
        left: 20%;
        justify-content: center;
        gap: 10px;
        background-color: var( --transparentBlack); 
        backdrop-filter: blur( 4px );
        width: 60vw;
        height: 7vh;
        border-radius: 3px;

        img{
            width: 30px;
        }
        .nav{
            gap: var(--xs-sizing);
            width: 100%;
            a{
                font-size: 10px;
            }
            a:hover{
                background-color: transparent;
                color: var(--White);
            }
            a:after,  a::before{
                top: 0;
                right: 0;
                height: 0;
                width: 0px;
                transform: skewX(0);
             
            }

        }
    }
}