@import url(../../../../styles.scss);
header{
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;   
    padding: 1rem 2rem;
    img{
        width: 50px;
        cursor: pointer;
    }
    .nav{
        display: flex;
        gap: 1rem;
        a{
            color: var(--White);
            position: relative;
            transition: .5s;
            padding: 5px;
        }
        a:hover{
            transition-delay: 0.5s;
            background-color: var(--White);
            color: var(--Black);
        }
        a:after,a::before{
            position: absolute;
            content: '';
            transition: .5s;
        }
        a:after{
            top: 0;
            right: 0;
            height: 1px;
            width: 0px;
            transform: skewX(15deg);
            background-color: var(--White);
        }
        a::before{
            bottom: 0;
            left: 0;
            height: 1px;
            width: 0px;
            transform: skewX(15deg);
            background-color:var(--White);
        }
        a:hover:after,a:hover:before{
            width: 60px;
        }
    }
}
