@import url(../../../../styles.scss);
.card{
    background-color: var(--Bg-card);
    height: 450px;
    width: 320px;
    padding: 0.5rem 2rem;
    transition: .5s;
    .card_header{
        display: flex;
        justify-content: flex-end;
    }
    .card_image{
        margin: 10px 0;
        img{
            height: 100%;
            width: 100%;
        }
    }
    
    .card_footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 25px;
        }
    }
}
